.under-construction__paragraph {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 16px;
}