.registration__input-container_password {
    width: 90%;
    height: 44px;
    background: #ECF0F5;
    border: 1px solid #BAC7D9;
    border-radius: 12px;
    padding: 0 16px;
    margin-bottom: 16px;
}

