.registrstion__input-password {
    width: 100%;
    border: unset;
    background-color: unset;
}

.registrstion__input-password::placeholder {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #8C95A6;
}