.header__search-btn {
    background-image: url(../../../images/lupa.svg);
    margin: 20px 20px 20px 0;
    border: none;
    height: 18px;
    width: 18px;
    /* transition: .3s; */
}

/* .header__search-btn:hover {
    opacity: .7;
    cursor: pointer;
    transition: .3s;
} */