.event__name_events-calendar {
    z-index: 1;
    position: absolute;
    width: 86%;
    top: 99px;
    left: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;    
    margin: 0;
}