.prof-icon-change-btn {
    margin: 8px 0 40px 112px;
    padding: 0;
    border: none;
    background-color: unset;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #105FF9;
}