.registration__repeat-code {
    margin: 0 auto 8px;
    border: none;
    background-color: unset;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #8C95A6;
    padding: 0;
}