.save-btn {
    background-image: url(../../images/save-icon.svg);
    border: none;
    background-color: unset;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0 21px 14px auto;
    width: 20px;
    height: 17px;
    background-position: center;
    background-size: contain;
    align-self: flex-end;
}